<div class="heading"><span class="fas fa-angle-double-right collapsed"></span> <span class="fas fa-angle-double-down expanded"></span> Options</div>
<div class="body mt-2">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="adv-control"
           [(ngModel)]="options.showAdvanced"
           (change)="trackEvent('advanced-options', $event.target.checked)">
    <label class="custom-control-label" for="adv-control" title="Show advanced variables">Advanced usage</label>
  </div>
  <div id="extensions-form">
    <span title="Select additional template extensions">Extensions:</span>
    <div class="custom-control custom-checkbox inline" *ngFor="let ext of extensions">
      <input type="checkbox" class="custom-control-input" [id]="'ext-' + ext.id"
             [checked]="options.hasExtension(ext.id)"
             (change)="options.setExtension(ext.id, $event.target.checked)">
      <label class="custom-control-label" [for]="'ext-' + ext.id" [title]="ext.description">{{ ext.name }}</label>
    </div>
  </div>
</div>
