<button class="btn-clipboard btn btn-sm btn-secondary" placement="top" ngbTooltip="Copy to clipboard"
        id="copy-yaml-to-clipboard" (click)="copyToClipboard()">Copy
</button>
<code id="gitlab-ci-content">
  <div id="gitlab-ci-includes" [class.hide]="!hasIncludes()">
    <pre class="comment"># included templates</pre>
    <span class="key">include</span>:
    <div class="elements"></div>
      <div *ngFor="let template of templates" [class.hide]="!template.enabled">
        <pre class="comment">  # {{ template.name }} template</pre>
        <pre>  - <span class="key">project</span>: "<span class="value">{{ template.project.path }}</span>"</pre>
        <pre>    <span class="key">ref</span>: "<span class="value">{{ template.project.tag }}</span>"</pre>
        <pre>    <span class="key">file</span>: "<span class="value">{{ template.template_path }}</span>"</pre>
        <div *ngFor="let variant of template.variants" [class.hide]="!variant.enabled">
          <pre class="comment">  # {{ template.name }} template ({{ variant.name }} variant)</pre>
          <pre>  - <span class="key">project</span>: "<span class="value">{{ variant.project.path }}</span>"</pre>
          <pre>    <span class="key">ref</span>: "<span class="value">{{ variant.project.tag }}</span>"</pre>
          <pre>    <span class="key">file</span>: "<span class="value">{{ variant.template_path }}</span>"</pre>
        </div>
      </div>
    <br/>
  </div>
  <div id="gitlab-ci-secrets" [class.hide]="!hasSecrets()">
    <pre class="comment"># secret variables</pre>
    <pre class="comment"># (define the variables below in your GitLab group/project variables)</pre>
    <div class="elements">
      <div *ngFor="let template of templates" [class.hide]="!template.enabled">
        <!-- template secrets -->
        <pre *ngFor="let secret of template.secrets" class="comment"># {{ secret.name }}: {{ secret.description }}</pre>
        <!-- feature secrets -->
        <div *ngFor="let feature of template.features" [class.hide]="!feature.enabled">
          <pre *ngFor="let secret of feature.secrets" class="comment"># {{ secret.name }}: {{ secret.description }}</pre>
        </div>
      </div>
    </div>
    <br/>
  </div>
  <div id="gitlab-ci-variables" [class.hide]="!hasVariables()">
    <pre class="comment"># variables</pre>
    <span class="key">variables</span>:
    <div class="elements">
      <div *ngFor="let template of templates" [class.hide]="!template.enabled">
        <!-- template variables -->
        <pre *ngFor="let variable of template.nonSecrets" [class.hide]="variable.isDefault">  <span class="key">{{ variable.name }}</span>: "<span class="value">{{ variable.value }}</span>"</pre>
        <!-- feature variables -->
        <div *ngFor="let feature of template.features">
          <!-- disable variable -->
          <pre *ngIf="feature.disable_with" [class.hide]="feature.enabled">  <span class="key">{{ feature.disable_with }}</span>: "<span class="value">true</span>"</pre>
          <div [class.hide]="!feature.enabled">
            <!-- enable variable -->
            <pre *ngIf="feature.enable_with">  <span class="key">{{ feature.enable_with }}</span>: "<span class="value">true</span>"</pre>
            <pre *ngFor="let variable of feature.nonSecrets" [class.hide]="variable.isDefault">  <span class="key">{{ variable.name }}</span>: "<span class="value">{{ variable.value }}</span>"</pre>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
  <div id="gitlab-ci-stages">
    <pre class="comment"># your pipeline stages</pre>
    <span class="key">stages</span>:
    <div class="elements">
      <pre>  - build</pre>
      <pre>  - test</pre>
      <pre>  - package-build</pre>
      <pre>  - package-test</pre>
      <pre>  - infra</pre>
      <pre>  - deploy</pre>
      <pre>  - acceptance</pre>
      <pre>  - publish</pre>
      <pre>  - infra-prod</pre>
      <pre>  - production</pre>
      </div>
  </div>

</code>
