:host  {
  position: relative;
  display: block;
}
code {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  background-color: #2B2B2B;
  color: #fff;
  padding: 10px;
  line-height: 1.4;
  overflow: auto;
}
div {
  width: fit-content;
}
pre {
  color: inherit;
  margin: 0;
}
.comment {
  font-style: italic;
  color: #609453;
}
.key {
  font-weight: bold;
  color: #cc7630;
}
textarea.code {
  white-space: pre;
}
.btn-clipboard {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}
.btn-clipboard {
  background-color: white;
}
.btn-clipboard:hover, .btn-clipboard:focus, .btn-clipboard:active {
  background-color: black;
  color: white;
}
