/* smooth scrolling (using stepbar for instance) */
html, body {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  /* force no copyrighted font */
  font-family: Helvetica,Arial,sans-serif;
}

:root {
  /* force no copyrighted font */
  --font-family-sans-serif: Helvetica,Arial,sans-serif;
}

/* use all available width up to 1320px */
.container {
  max-width: 1320px;
  padding-left: 1em;
  padding-right: 1em;
}

/* reactive stepbar */
.o-stepbar .stepbar-item {
  padding-left: 1.25rem;
  padding-right: .25rem;
}

.o-stepbar .stepbar-item:first-child {
  padding-left: 1rem;
}

.o-stepbar .step-title {
  margin-left: .15rem;
}

/* narrow screens: don't show step number */
@media (max-width: 767px) {
  .o-stepbar .step-number {
    display: none;
  }
}

/* very narrow screens: show step number only */
@media (max-width: 479px) {
  .o-stepbar .step-number {
    display: inline;
  }
  .o-stepbar .step-number:after {
    display: none;
  }
  .o-stepbar .step-title {
    display: none;
  }
}


/* Markdown paragraph style */
showdown p {
  margin: 0;
  color: #595959;
  font-size: 0.9rem;
  font-style: italic;
}

/* smooth collapse/expand */
/*.collapse {*/
  /*transition-property: max-height;*/
  /*transition-timing-function: ease-in-out;*/
  /*transition-duration: .5s;*/
  /*max-height: 0;*/
  /*overflow: hidden;*/
/*}*/
/*.collapse.show {*/
  /*max-height: 1000px;*/
/*}*/
/*.collapse:not(.show) {*/
  /*display: inherit;*/
/*}*/

/*.collapse {*/
/*}*/
/*.collapse.show {*/
  /*animation: expand 0.8s ease-in-out;*/
/*}*/
/*.collapse:not(.show) {*/
/*}*/
/*@keyframes expand {*/
  /*0% {*/
    /*display: none;*/
  /*}*/
  /*1% {*/
    /*display: inherit;*/
    /*overflow: hidden;*/
    /*max-height: 0;*/
  /*}*/
  /*100% {*/
    /*transform: scaleY(1);*/
    /*max-height: 1000px;*/
  /*}*/
/*}*/
