<h3 [id]="id+'-section'" class="alert alert-template section">{{ sectionTitle }}</h3>

<div class="mb-4">
  <!-- [single template section] template selector (drop-down) -->
  <div *ngIf="!multiple" class="alert alert-template">
      <select [id]="id+'-choice'" class="template-select custom-select col-md-2 col-4 mb-2" [(ngModel)]="selected" (change)="trackEvent(id+'-select', $event.target.value)">
        <option *ngFor="let template of templates"
                [value]="template.id"
                [selected]="template.enabled">{{ template.name }}</option>
      </select>
    <div *ngFor="let template of templates" [class.hide]="!template.enabled">
      <showdown [value]="template.description"></showdown>
      <a *ngIf="template.project?.web_url" class="readme" rel="noopener noreferrer" target="_blank" [href]="template.project.web_url"
         title="go to reference documentation"><span class="fas fa-external-link-square-alt"></span> ref. doc.</a>
      <span class="extension-badge" *ngIf="template.extension_id" [title]="aggregated.getExtension(template.extension_id).description">{{ aggregated.getExtension(template.extension_id).name }}</span>
      <!-- variants selection -->
      <div class="variants-group" *ngIf="variantsFor(template).length > 0">
        <label class="variants-label">Variants:</label>
        <div *ngFor="let variant of variantsFor(template)" class="variant-container ml-3">
          <!-- variant checkbox -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input variant-input"
                   [id]="template.id+'-variant-'+variant.id"
                   [(ngModel)]="variant.enabled"
                   (change)="trackEvent(template.id+'-'+variant.id+'-variant', $event.target.checked)">
            <label class="custom-control-label variant-label" [for]="template.id+'-variant-'+variant.id">{{variant.name}}</label>
          </div>
          <showdown [value]="variant.description"></showdown>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let template of templates">
    <!-- [multiple templates section] selection checkbox -->
    <div *ngIf="multiple" class="alert alert-template" [class.extension]="template.extension_id">
      <div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" [id]="template.id+'-toggle'"
                 [(ngModel)]="template.enabled"
                 (change)="trackEvent(template.id+'-template', $event.target.checked)">
          <label class="custom-control-label" [for]="template.id+'-toggle'">{{ template.name }}</label>
        </div>
        <showdown [value]="template.description"></showdown>
      </div>
      <a *ngIf="template.project?.web_url" class="readme" rel="noopener noreferrer" target="_blank" [href]="template.project.web_url"
         title="go to reference documentation"><span class="fas fa-external-link-square-alt"></span> ref. doc.</a>
      <span class="extension-badge" *ngIf="template.extension_id" [title]="aggregated.getExtension(template.extension_id).description">{{ aggregated.getExtension(template.extension_id).name }}</span>
      <!-- variants selection -->
      <div class="variants-group" *ngIf="variantsFor(template).length > 0" [class.hide]="!template.enabled">
        <label class="variants-label">Variants:</label>
        <div *ngFor="let variant of variantsFor(template)" class="variant-container ml-3">
          <!-- variant checkbox -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input variant-input"
                   [id]="template.id+'-variant-'+variant.id"
                   [(ngModel)]="variant.enabled"
                   (change)="trackEvent(template.id+'-'+variant.id+'-variant', $event.target.checked)">
            <label class="custom-control-label variant-label" [for]="template.id+'-variant-'+variant.id">{{variant.name}}</label>
          </div>
          <showdown [value]="variant.description"></showdown>
        </div>
      </div>
    </div>

    <!-- template form -->
    <div
      [id]="template.id"
      class="template collapse"
      [class.show]="template.enabled">

      <!-- template global variables -->
      <app-variable-editor
        *ngFor="let variable of template.nonSecrets"
        [id]="template.id+'-'+variable.name"
        [aggregated]="aggregated"
        [options]="options"
        [class.hide]="variable.advanced && !options.showAdvanced"
        [variable]="variable"></app-variable-editor>

      <!-- template features -->
      <div *ngFor="let feature of template.features"
           class="feature">

        <!-- feature toggle -->
        <div class="alert alert-light">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" [id]="template.id+'-'+feature.id+'-toggle'"
                   [(ngModel)]="feature.enabled"
                   (change)="trackEvent(template.id+'-'+feature.id+'-feature', $event.target.checked)">
            <label class="custom-control-label"
                   [for]="template.id+'-'+feature.id+'-toggle'">{{ feature.name }}</label>
          </div>
          <showdown [value]="feature.description"></showdown>
        </div>

        <!-- feature form -->
        <div
          [id]="template.id+'-'+feature.id"
          class="variables collapse"
          [class.show]="feature.enabled">
          <!-- feature variables -->
          <app-variable-editor
            *ngFor="let variable of feature.nonSecrets"
            [id]="template.id+'-'+variable.name"
            [aggregated]="aggregated"
            [options]="options"
            [class.hide]="variable.advanced && !options.showAdvanced"
            [variable]="variable"></app-variable-editor>
        </div>
      </div>
    </div>
  </div>
</div>
