.alert-template.section {
  background-color: #50BE87;
  border-color: #50BE87;
  border-left: none;
}
.alert-template {
  color: #000;
  background-color: #dddddd;
  border-color: #dddddd;
  font-size: 1.2em;
  border-left: solid 10px #595959;
}
/*.alert-template.extension {*/
  /*border-left-color: #A885D8;*/
/*}*/
.alert-template .form-group {
  margin: 0;
}
.alert-template h3 {
  font-size: inherit;
  margin-bottom: 0;
}
.alert-none {
  background-color: #eeeeee;
  border-color: #eeeeee;
}
.feature .alert {
  background-color: #eeeeee;
  border-color: #eeeeee;
}
/* readme link */
.readme {
  font-size: 0.9rem;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* extension badge */
.extension-badge {
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #A885D8;
  padding: .1rem .2rem;
}
/* variant styles */
.variants-group {
  margin-top: .8rem;
  border-top: 2px solid #a5a5a5;
  padding-top: .8rem;
  font-size: .9rem;
  color: #595959;
  display: flex;
}
.variants-group .custom-control {
  margin-bottom: .2rem;
}
